    <%# Preloader %>
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div>
    <%#/preloader%>

    <%# Site Overlay %>
    <div class="site-overlay"></div>

    <%# Navbar %>
    <%= render 'shared/navbar' %>
    <%# /navbar %>

    <%# Hero %>
    <div class="bg-parallax fullscreen parallax-overlay" data-jarallax-video="https://www.youtube.com/watch?v=YbXpLfZxlRU" data-jarallax-original-styles="null">
        <div class="d-flex align-items-center">
            <div class="container">
                <div class=" row">
                    <div class="col-lg-10 ml-auto mr-auto text-center">
                        <div class="hero-text-style1">
                            <h4 class="text-uppercase text-white-gray h6">Salut à toi visiteur</h4>
                            <h2 class="text-white font700 display-4">Bienvenue sur Wanderlust</h2>
                            <p class="lead text-white-gray">
                                Notre blog pour les curieux
                            </p>
                            <a href="#section1" class="btn btn-white-outline btn-lg" id="topanchor">Découvrir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%#hero%>

    <%# Banner %>
    <%= render 'shared/banner' %>
    <%# /banner %>

    <%# Half image section %>
    <%= render 'shared/half_image' %>
    <%#half image section%>

    <%# Animated map%>
    <%= render 'shared/animation' %>
    <%#animated map%>

    <%# Footer %>
    <%= render 'shared/footer' %>
  <%#/footer%>

    <%# Footer bottom %>
    <%= render 'shared/footer_bottom' %>
  <%#/footer bottom%>

    <%#back to top%>
    <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
