    <%# Preloader %>
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div>
    <%#/preloader%>

    <%# Site Overlay %>
    <div class="site-overlay"></div>

    <%# Navbar %>
    <%= render 'shared/navbar' %>
    <%# /navbar %>

    <%# Hero %>
    <div class="bg-parallax fullscreen parallax-overlay" data-jarallax-video="https://www.youtube.com/watch?v=YbXpLfZxlRU" data-jarallax-original-styles="null">
        <div class="d-flex align-items-center">
            <div class="container">
                <div class=" row">
                    <div class="col-lg-10 ml-auto mr-auto text-center">
                        <div class="hero-text-style1">
                            <h4 class="text-uppercase text-white-gray h6">welcome to</h4>
                            <h2 class="text-white text-capitalize font700 display-4">Assan Web Studio</h2>
                            <p class="lead text-white-gray">
                                A fresh and modern website template with bunch of features
                            </p>
                            <a href="#" class="btn btn-lg btn-white">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%#hero%>

    <%# Banner %>
    <%= render 'shared/banner' %>
    <%# /banner %>

    <%# Half image section %>
    <%= render 'shared/half_image' %>
    <%#half image section%>

    <div class="container pt90  pb60">
        <div class="row align-items-center">
            <div class="col-lg-6 mb30">
                <%= image_tag "sketch1.jpg", alt: "", class: "img-fluid" %>
            </div>
            <div class="col-lg-6 mb30">
                <h2>
                    A great multi concept template provides the unlimited type of elements
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>

    <%# Footer %>
    <%= render 'shared/footer' %>
  <%#/footer%>

    <%# Footer bottom %>
    <%= render 'shared/footer_bottom' %>
  <%#/footer bottom%>

    <%#back to top%>
    <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
