    <!-- Preloader -->
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div>
    <!--/preloader-->

    <!-- Site Overlay -->
    <div class="site-overlay"></div>

    <!-- Navbar -->
    <%= render 'shared/navbar' %>
    <!-- /navbar -->

    <div class="bg-parallax fullscreen parallax-overlay" data-jarallax-video="https://www.youtube.com/watch?v=YbXpLfZxlRU" data-jarallax-original-styles="null">
        <div class="d-flex align-items-center">
            <div class="container">
                <div class=" row">
                    <div class="col-lg-10 ml-auto mr-auto text-center">
                        <div class="hero-text-style1">
                            <h4 class="text-uppercase text-white-gray h6">welcome to</h4>
                            <h2 class="text-white text-capitalize font700 display-4">Assan Web Studio</h2>
                            <p class="lead text-white-gray">
                                A fresh and modern website template with bunch of features
                            </p>
                            <a href="#" class="btn btn-lg btn-white">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--hero-->
    <div class="container pt90 pb50">
        <div class="row">
            <div class="col-lg-4 mb40 text-center">
                <div class="icon-box icon-box-center">
                    <%= image_tag 'nz.svg', class: "icon-hover-1 bg-dark icon-hover-default" %>
                    <h4>Mobile Friendly</h4>
                    <p>
                        Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                    </p>
                </div>
            </div><!--/col-->
            <div class="col-lg-4 mb40">
                <div class="icon-box icon-box-center">
                    <%= image_tag 'jp.svg', class: "icon-hover-1 bg-dark icon-hover-default" %>
                    <h4>Fast Response</h4>
                    <p>
                        Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                    </p>
                </div>
            </div><!--/col-->
            <div class="col-lg-4 mb40">
                <div class="icon-box icon-box-center">
                  <%= image_tag 'chile.svg', class: "icon-hover-1 bg-dark icon-hover-default" %>
                    <h4>Trusted Author</h4>
                    <p>
                        Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                    </p>
                </div>
            </div><!--/col-->
        </div>
        <div class="row">
            <div class="col-lg-4 mb40 text-center">
                <div class="icon-box icon-box-center">
                    <i class="icon-hover-1 bg-default icon-mobile icon-hover-default"></i>
                    <h4>Mobile Friendly</h4>
                    <p>
                        Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                    </p>
                </div>
            </div><!--/col-->
            <div class="col-lg-4 mb40">
                <div class="icon-box icon-box-center">
                    <i class="icon-hover-1 bg-warning icon-chat icon-hover-default"></i>
                    <h4>Fast Response</h4>
                    <p>
                        Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                    </p>
                </div>
            </div><!--/col-->
            <div class="col-lg-4 mb40">
                <div class="icon-box icon-box-center">
                    <i class="icon-hover-1 bg-success icon-profile-male icon-hover-default"></i>
                    <h4>Trusted Author</h4>
                    <p>
                        Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                    </p>
                </div>
            </div><!--/col-->
        </div>
        <div class="row">
            <div class="col-lg-4 mb40 text-center">
                <div class="icon-box icon-box-center">
                    <i class="icon-hover-1 bg-default icon-mobile icon-hover-default"></i>
                    <h4>Mobile Friendly</h4>
                    <p>
                        Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                    </p>
                </div>
            </div><!--/col-->
            <div class="col-lg-4 mb40">
                <div class="icon-box icon-box-center">
                    <i class="icon-hover-1 bg-warning icon-chat icon-hover-default"></i>
                    <h4>Fast Response</h4>
                    <p>
                        Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                    </p>
                </div>
            </div><!--/col-->
            <div class="col-lg-4 mb40">
                <div class="icon-box icon-box-center">
                    <i class="icon-hover-1 bg-success icon-profile-male icon-hover-default"></i>
                    <h4>Trusted Author</h4>
                    <p>
                        Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                    </p>
                </div>
            </div><!--/col-->
        </div>
    </div>
    <div class="half-image-content bg-dark">
        <div class="content-img bg-parallax pos-right hidden-md-down" data-jarallax='{"speed": 0.2}' style="background:url('assets/img-half1.jpg') no-repeat;">
        </div>
        <%= image_tag "img-half1.jpg", class: "visible-lg-down hidden-lg-up img-fluid", alt: "" %>
        <div class="container">
            <div class="row">
                <div class="col-lg-5  pt70 pb70">
                    <h2 class="mb40 text-white">
                        Limitless possiblities create incredible layouts
                    </h2>
                    <div class="clearfix text-white-gray">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p><br>
                        <a href="#" class="btn btn-white">View Features</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--half image section-->
    <div class="container pt90  pb60">
        <div class="row align-items-center">
            <div class="col-lg-6 mb30">
                <%= image_tag "sketch1.jpg", alt: "", class: "img-fluid" %>
            </div>
            <div class="col-lg-6 mb30">
                <h2>
                    A great multi concept template provides the unlimited type of elements
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>

    <footer class="footer footer-standard pt50 pb10">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb40">
                    <h3>About Us</h3>
                    <p>
                        In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.
                    </p>
                    <a href="#" class="btn btn-white-outline btn-sm">Learn More</a>
                </div>
                <div class="col-lg-2 col-md-6 mb40">
                    <h3>Quick links</h3>
                    <ul class="list-unstyled footer-list-item">
                        <li>
                            <a href="#">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                News
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                FAQS
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Term & conditions
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Privacy & policy
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb40">
                    <h3>Latest News</h3>
                    <ul class="list-unstyled latest-news">
                        <li class="media">
                            <a href="#"> <%= image_tag "img1.jpg", class: "d-flex mr-3 img-fluid", width: "64", alt: "Generic placeholder image" %></a>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="#">Beautiful Sofa lamp at low price</a></h5>
                                April 05, 2017
                            </div>
                        </li>
                        <li class="media my-3">
                            <a href="#"> <%= image_tag "img2.jpg", class: "d-flex mr-3 img-fluid", width: "64", alt: "Generic placeholder image" %></a>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                Jan 05, 2017
                            </div>
                        </li>
                        <li class="media">
                            <a href="#"> <%= image_tag "img5.jpg", class: "d-flex mr-3 img-fluid", width: "64", alt: "Generic placeholder image" %></a>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="#">New awesome features of bootstrap 4</a></h5>
                                March 15, 2017
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb40">
                    <h3>Headquarters</h3>
                    <%= image_tag "map-img.png", alt: "", class: "img-fluid" %>
                </div>
            </div>
        </div>
    </footer><!--/footer-->
    <div class="footer-bottomAlt">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="clearfix">
                        <a href="#" class="social-icon-sm si-dark si-facebook si-dark-round">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
                            <i class="fa fa-skype"></i>
                            <i class="fa fa-skype"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <span>&copy; Copyright 2017. All Right Reserved</span>
                </div>
            </div>
        </div>
    </div><!--/footer bottom-->
    <!--back to top-->
    <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
