    <%# Preloader %>
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div>
  <%#/preloader%>

    <%# Site Overlay %>
    <div class="site-overlay"></div>

    <%# Navbar %>
    <%= render 'shared/navbar' %>
    <%# /navbar %>

    <div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url(<%= asset_path 'landscape.jpg' %>)'>
        <div class="container">
            <div class="row pb30 align-items-end">
                <div class="col-lg-6 ml-md-auto mr-auto col-md-8 col-sm-8 mb20">
                    <h3 class="text-white text-left mb30">Register your Admin profile</h3>
                    <%= form_for @user do |f| %>
                        <%= render 'shared/error_messages_users' %>
                        <div class="form-group">
                            <%= f.text_field :name, class: "form-control", placeholder: "Username" %>
                        </div>
                        <div class="form-group">
                            <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
                        </div>
                        <div class="form-group">
                            <%= f.password_field :password, class: "form-control", placeholder: "Mot de passe" %>
                        </div>
                        <div class="form-group">
                            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmer le mot de passe" %>
                        </div>
                        <div class="form-group">
                            <%= f.submit "Sign Up", class: "btn btn-rounded btn-primary btn-block" %>
                        </div>
                        <div class="text-center text-white-gray">Déjà admin? Connecte-toi ci-dessous</div>
                        <hr>
                        <div>
                            <a href="#" class="btn btn-white-outline btn-block">Sign In</a>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <%# Footer %>
    <%= render 'shared/footer' %>
  <%#/footer%>

    <%# Footer bottom %>
    <%= render 'shared/footer_bottom' %>
  <%#/footer bottom%>

    <%#back to top%>
    <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
