<div class="container pt90 pb50" id="section1">
    <div class="row">
        <div class="col-lg-3 mb40 text-center">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/nz.svg', class: "icon-hover-1 bg-dark icon-hover-default" %>
                <h4>Nouvelle-Zélande</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-nz" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="progress-img">&#9992;</span></div> 
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/thai.svg', class: "icon-hover-1 bg-danger icon-hover-default" %>
                <h4>Thaïlande</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-th" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/laos.svg', class: "icon-hover-1 bg-primary icon-hover-default" %>
                <h4>Laos</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-la" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/viet.svg', class: "icon-hover-1 bg-primary icon-hover-default" %>
                <h4>Vietnam</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-vi" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
    </div>
    <div class="row">
        <div class="col-lg-3 mb40 text-center">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/camb.svg', class: "icon-hover-1 bg-default icon-hover-default" %>
                <h4>Cambodge</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-ca" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/phi.svg', class: "icon-hover-1 bg-warning icon-hover-default" %>
                <h4>Philippines</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-phi" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/jp.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                <h4>Japon</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-ja" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/us.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                <h4>États-Unis</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-us" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
    </div>
    <div class="row">
        <div class="col-lg-3 mb40 text-center">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/pe.svg', class: "icon-hover-1 bg-default icon-hover-default" %>
                <h4>Pérou</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-pe" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/bo.svg', class: "icon-hover-1 bg-warning icon-hover-default" %>
                <h4>Bolivie</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-bo" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/arg.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                <h4>Argentine</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-arg" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'flags/chile.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                <h4>Chili</h4>
                <div class="progress progress-default mb20">
                    <div class="progress-bar-chi" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
    </div>
</div>
