<div class="container pt90 pb50">
    <div class="row">
        <div class="col-lg-3 mb40 text-center">
            <div class="icon-box icon-box-center">
                <%= image_tag 'nz.svg', class: "icon-hover-1 bg-dark icon-hover-default" %>
                <h4>Nouvelle-Zélande</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'thai.svg', class: "icon-hover-1 bg-danger icon-hover-default" %>
                <h4>Thaïlande</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'laos.svg', class: "icon-hover-1 bg-primary icon-hover-default" %>
                <h4>Laos</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'viet.svg', class: "icon-hover-1 bg-primary icon-hover-default" %>
                <h4>Vietnam</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
    </div>
    <div class="row">
        <div class="col-lg-3 mb40 text-center">
            <div class="icon-box icon-box-center">
                <%= image_tag 'camb.svg', class: "icon-hover-1 bg-default icon-hover-default" %>
                <h4>Cambodge</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'phi.svg', class: "icon-hover-1 bg-warning icon-hover-default" %>
                <h4>Philippines</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'jp.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                <h4>Japon</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'us.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                <h4>États-Unis</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
    </div>
    <div class="row">
        <div class="col-lg-3 mb40 text-center">
            <div class="icon-box icon-box-center">
                <%= image_tag 'pe.svg', class: "icon-hover-1 bg-default icon-hover-default" %>
                <h4>Pérou</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'bo.svg', class: "icon-hover-1 bg-warning icon-hover-default" %>
                <h4>Bolivie</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'arg.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                <h4>Argentine</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <%= image_tag 'chile.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                <h4>Chili</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><%#/col%>
    </div>
</div>
