<div class="container pt90 pb50" id="section1">
    <div class="row">
        <div class="col-lg-3 mb60 text-center span-dates">
            <%= link_to new_zealand_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/nz.svg', class: "icon-hover-1 bg-dark icon-hover-default" %>
                    <h4 class="mb10">Nouvelle-Zélande</h4>
                    <div class="trip-dates mb10">
                        <span>Jan. 2019</span>
                        <span>Fev. 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-nz" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div> 
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-shuttle-van"></i>
                        <i class="fas fa-ship"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
        <div class="col-lg-3 mb60 span-dates">
            <%= link_to thailand_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/thai.svg', class: "icon-hover-1 bg-danger icon-hover-default" %>
                    <h4 class="mb10">Thaïlande</h4>
                    <div class="trip-dates mb10">
                        <span>Fev. 2019</span>
                        <span>Mar. 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-th" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div>
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-bus"></i>
                        <i class="fas fa-train"></i>
                        <i class="fas fa-ship"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
        <div class="col-lg-3 mb60 span-dates">
            <%= link_to laos_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/laos.svg', class: "icon-hover-1 bg-primary icon-hover-default" %>
                    <h4 class="mb10">Laos</h4>
                    <div class="trip-dates mb10">
                        <span>Mar. 2019</span>
                        <span>Mar. 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-la" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div>
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-bus"></i>
                        <i class="fas fa-ship"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
        <div class="col-lg-3 mb60 span-dates">
            <%= link_to vietnam_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/viet.svg', class: "icon-hover-1 bg-primary icon-hover-default" %>
                    <h4 class="mb10">Vietnam</h4>
                    <div class="trip-dates mb10">
                        <span>Mar. 2019</span>
                        <span>Mar. 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-vi" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div>
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-plane"></i>
                        <i class="fas fa-bus"></i>
                        <i class="fas fa-train"></i>
                        <i class="fas fa-ship"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
    </div>
    <div class="row">
        <div class="col-lg-3 mb60 text-center span-dates">
            <%= link_to cambodia_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/camb.svg', class: "icon-hover-1 bg-default icon-hover-default" %>
                    <h4 class="mb10">Cambodge</h4>
                    <div class="trip-dates mb10">
                        <span>Mar. 2019</span>
                        <span>Avr. 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-ca" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div>
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-bus"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
        <div class="col-lg-3 mb60 span-dates">
            <%= link_to philippines_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/phi.svg', class: "icon-hover-1 bg-warning icon-hover-default" %>
                    <h4 class="mb10">Philippines</h4>
                    <div class="trip-dates mb10">
                        <span>Avr. 2019</span>
                        <span>Mai. 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-phi" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div>
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-plane"></i>
                        <i class="fas fa-bus"></i>
                        <i class="fas fa-ship"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
        <div class="col-lg-3 mb60 span-dates">
            <%= link_to japan_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/jp.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                    <h4 class="mb10">Japon</h4>
                    <div class="trip-dates mb10">
                        <span>Mai 2019</span>
                        <span>Mai 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-ja" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div>
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-train"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
        <div class="col-lg-3 mb60 span-dates">
            <%= link_to usa_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/us.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                    <h4 class="mb10">États-Unis</h4>
                    <div class="trip-dates mb10">
                        <span>Mai 2019</span>
                        <span>Juil. 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-us" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div>
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-bus"></i>
                        <i class="fas fa-shuttle-van"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
    </div>
    <div class="row">
        <div class="col-lg-3 mb60 text-center span-dates">
            <%= link_to peru_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/pe.svg', class: "icon-hover-1 bg-default icon-hover-default" %>
                    <h4 class="mb10">Pérou</h4>
                    <div class="trip-dates mb10">
                        <span>Juil. 2019</span>
                        <span>Aoû. 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-pe" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div>
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-plane"></i>
                        <i class="fas fa-bus"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
        <div class="col-lg-3 mb60 span-dates">
            <%= link_to bolivia_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/bo.svg', class: "icon-hover-1 bg-warning icon-hover-default" %>
                    <h4 class="mb10">Bolivie</h4>
                    <div class="trip-dates mb10">
                        <span>Aoû. 2019</span>
                        <span>Aoû. 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-bo" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div>
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-bus"></i>
                        <i class="fas fa-train"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
        <div class="col-lg-3 mb60 span-dates">
            <%= link_to argentina_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/arg.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                    <h4 class="mb10">Argentine</h4>
                    <div class="trip-dates mb10">
                        <span>Aoû. 2019</span>
                        <span>Oct. 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-arg" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div>
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-plane"></i>
                        <i class="fas fa-bus"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
        <div class="col-lg-3 mb60 span-dates">
            <%= link_to chile_path do %>
                <div class="icon-box icon-box-center">
                    <%= image_tag 'flags/chile.svg', class: "icon-hover-1 bg-success icon-hover-default" %>
                    <h4 class="mb10">Chili</h4>
                    <div class="trip-dates mb10">
                        <span>Aoû. 2019</span>
                        <span>Oct. 2019</span>
                    </div>
                    <div class="progress progress-default mb20">
                        <div class="progress-bar-chi" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                            <i class="fas fa-plane progress-img"></i>
                        </div>
                    </div>
                    <div class="trip-icons">
                        <i class="fas fa-plane"></i>
                        <i class="fas fa-bus"></i>
                    </div>
                </div>
            <% end %>
        </div><%#/col%>
    </div>
</div>
