<footer class="footer footer-standard pt50 pb10">
    <div class="container">
        <div class="row-footer">
            <div class="col-lg-4 col-md-6 mb40">
                <h3>About Us</h3>
                <p>
                    In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.
                </p>
                <a href="#" class="btn btn-blue-outline btn-sm">Learn More</a>
            </div>
            <div class="col-lg-2 col-md-6 mb40">
                <h3>Découvertes</h3>
                <ul class="list-unstyled footer-list-item">
                    <li><%= link_to "Nouvelle-Zélande", new_zealand_path %></li>
                    <li><%= link_to "Thaïlande", thailand_path %></li>
                    <li><%= link_to "Laos", laos_path %></li>
                    <li><%= link_to "Vietnam", vietnam_path %></li>
                    <li><%= link_to "Cambodge", cambodia_path %></li>
                    <li><%= link_to "Philippines", philippines_path %></li>
                    <li><%= link_to "Japon", japan_path %></li>
                    <li><%= link_to "États-Unis", usa_path %></li>
                    <li><%= link_to "Pérou", peru_path %></li>
                    <li><%= link_to "Bolivie", bolivia_path %></li>
                    <li><%= link_to "Chili", chile_path %></li>
                    <li><%= link_to "Argentine", argentina_path %></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb40">
                <h3>Derniers articles</h3>
                <ul class="list-unstyled latest-news">
                    <% @posts.each do |post| %>
                        <li class="media">
                            <%= image_tag post.image_url.to_s , alt: "", class: "d-flex mr-3 img-fluid", width: "64" %>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><%= link_to post.title %></h5>
                                <%= post.date %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb40">
                <h3>Headquarters</h3>
                <%= image_tag "map-img.png", alt: "", class: "img-fluid" %>
            </div>
        </div>
    </div>
</footer>
