<footer class="footer footer-standard pt50 pb10">
    <div class="container">
        <div class="row-footer">
            <div class="col-lg-4 col-md-6 mb40">
                <h3>A propos</h3>
                <p>
                    Après plus de 3 ans de réflexions et de préparatifs, nous sommes partis découvrir le monde avec assez d'affaires sur le dos pour tenir au moins un an!
                </p>
                <a href="#section2" class="btn btn-blue-outline btn-sm" id="midanchor">On est curieux</a>
            </div>
            <div class="col-lg-2 col-md-6 mb40">
                <h3>Découvertes</h3>
                <ul class="list-unstyled footer-list-item">
                    <li class="bullet"><%= link_to "Nouvelle-Zélande", new_zealand_path %></li>
                    <li class="bullet"><%= link_to "Thaïlande", thailand_path %></li>
                    <li class="bullet"><%= link_to "Laos", laos_path %></li>
                    <li class="bullet"><%= link_to "Vietnam", vietnam_path %></li>
                    <li class="bullet"><%= link_to "Cambodge", cambodia_path %></li>
                    <li class="bullet"><%= link_to "Philippines", philippines_path %></li>
                    <li class="bullet"><%= link_to "Japon", japan_path %></li>
                    <li class="bullet"><%= link_to "États-Unis", usa_path %></li>
                    <li class="bullet"><%= link_to "Pérou", peru_path %></li>
                    <li class="bullet"><%= link_to "Bolivie", bolivia_path %></li>
                    <li class="bullet"><%= link_to "Chili", chile_path %></li>
                    <li class="bullet"><%= link_to "Argentine", argentina_path %></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb40">
                <h3>Derniers articles</h3>
                <ul class="list-unstyled latest-news">
                    <% latest_posts.each do |post| %>
                        <li class="media my-3">
                            <% if post.image.attached? %>
                                <%= image_tag post.image , alt: "", class: "d-flex mr-3 img-fluid", width: "64" %>
                            <% end %>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><%= link_to post.title, post_path(post.id) %></h5>
                                <%= post.date.strftime("%e %b %Y") %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb40">
                <h3>Où sont-ils ?</h3>
                <%= render 'shared/footer_map'%>
            </div>
        </div>
    </div>
</footer>
