<nav id ="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>

      <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
              <main class='container'>
                  <div class='blob-wrap'>
                      <input type='checkbox' id='checking' style='display:none;' />
                      <%= image_tag 'nz.svg', class: "blob" %>
                      <%= image_tag 'camb.svg', class: "blob" %>
                      <%= image_tag 'phi.svg', class: "blob" %>
                      <%= image_tag 'us.svg', class: "blob" %>
                      <%= image_tag 'jp.svg', class: "blob" %>
                      <%= image_tag 'laos.svg', class: "blob" %>
                      <%= image_tag 'viet.svg', class: "blob" %>
                      <%= image_tag 'thai.svg', class: "blob" %>
                      <label class='blob' for='checking'>
                          <span class='blob-bar'></span>
                          <span class='blob-bar'></span>
                          <span class='blob-bar'></span>
                      </label>
                  </div>
              </main>

              <svg>
                  <defs>
                      <filter id="filt">
                          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="filt" />
                          <feBlend in2="filt" in="SourceGraphic" result="mix" />
                      </filter>
                  </defs>
              </svg>
          </li>
      </ul>
  </div>

</div>
</nav>
