<h3 class="text-white text-left mb30">Laisser parler la plume</h3>

<%= form_for @post do |f| %>

    <%= render 'shared/error_messages' %>

    <div class="form-group">
        <%= f.collection_select(:category_id, Category.all, :id, :name, { prompt: "Choisir une catégorie" }, class: "form-control" ) %><br />
    </div>
    <div class="form-group">
        <%= f.text_field :title, class: "form-control", placeholder: "Saisir le titre de l'article" %><br />
    </div>
    <div class="form-group">
        <%= f.hidden_field :content, class: "form-control", id: "exampleTextarea", rows: "10", placeholder: "Contenu de l'article" %>
        <trix-editor class="form-control" input="exampleTextarea"></trix-editor><br />
    </div>
    <div class="form-group">
        <%= f.submit "Poster", class: "btn btn-rounded btn-primary btn-block" %>
    </div>
    <div class="text-center text-white-gray">Already have an account? SignIn below</div>
    <hr>
    <div>
        <a href="#" class="btn btn-white-outline btn-block">Sign In</a>
    </div>
    <div class="action">
        <%= link_to "Retour", root_path %>
    </div>

<% end %>
