    <%# Preloader %>
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div>
    <%#/preloader%>

    <%# Site Overlay %>
    <div class="site-overlay"></div>

    <%# Navbar %>
    <%= render 'shared/navbar' %>
    <%# /navbar %>

    <%# Page title %>
    <div class="page-titles-img title-space-lg bg-parallax parallax-overlay mb70" data-jarallax='{"speed": 0.2}' style='background-image: url(<%= asset_path 'indexes/laos-view.jpg' %>)'>
        <div class="container">
            <div class="row">
                <div class=" col-md-8 ml-auto mr-auto">
                    <h1 class='text-uppercase'>Laos</h1>
                </div>
            </div>
        </div>
    </div>
    <%#page title end%>

    <div class="container mb30">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <% @posts.each do |post| %>
                    <% if post.category.name == "Laos" %>
                        <article class="article-post mb70">
                            <a class="post-thumb mb30" href="#">
                                <%= image_tag post.image_url.to_s , alt: "", class: "img-fluid" %>
                                <div class="post-overlay">
                                    <span>In Photography</span>
                                </div>
                            </a><%#thumb%>
                            <div class="post-content text-center">
                                <h2 class="post-title"><%= link_to post.title, post_path(post.id), class: "post-title" %></h2>
                                <ul class="post-meta list-inline">
                                    <li class="list-inline-item">
                                        <i class="fa fa-calendar-o"></i> <span class="font-size-icon"><%= post.date.strftime("%e %b %Y") %></span>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-tags"></i> <span class="font-size-icon"><%= post.place %></span>
                                    </li>
                                </ul>
                                <p><%= truncate(sanitize(strip_tags(post.content)), length: 500, separator: ' ') %><p>

                                <%= link_to "Plus de lecture", post_path(post.id), class: "btn btn-outline-secondary" %>
                            </div>
                        </article>
                    <% end %>
                <% end %>
                <%#article%>
            </div>
        </div>
    </div>

    <%# Footer %>
    <%= render 'shared/footer' %>
    <%# /footer %>

    <%# Footer bottom %>
    <%= render 'shared/footer_bottom' %>
    <%# /footer bottom %>

    <%#back to top%>
    <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
