    <div id="preloader">
        <div id="preloader-inner"></div>
    </div><!--/preloader-->

    <!-- Site Overlay -->
    <div class="site-overlay"></div>

    <!-- Navbar -->
    <%= render 'shared/navbar' %>
    <!-- /navbar -->

    <!-- Page title -->
    <div class="page-titles-img title-space-lg bg-parallax parallax-overlay mb70" data-jarallax='{"speed": 0.2}' style='background-image: url("assets/landscape.jpg")'>
        <div class="container">
            <div class="row">
                <div class=" col-md-8 ml-auto mr-auto">
                    <h1 class='text-uppercase'>Nouvelle-Zélande</h1>
                </div>
            </div>
        </div>
    </div>
    <!--page title end-->

    <div class="container mb30">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <article class="article-post mb70">
                    <a class="post-thumb mb30" href="#">
                        <%= image_tag "entry2.jpg", alt: "", class: "img-fluid" %>
                        <div class="post-overlay">
                            <span>In Photography</span>
                        </div>
                    </a><!--thumb-->
                    <div class="post-content text-center">
                        <a href="#"><h2 class="post-title">Lorem ipsum dolor sit amet</h2></a>
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o"></i> <a href="#">John Doe</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="#">29 June 2017</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-tags"></i> <a href="#">Bootstrap4</a>
                            </li>
                        </ul>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus .</p>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>

                        <a href="#" class="btn btn-outline-secondary">Read More</a>
                    </div>
                </article><!--article-->
                <article class="article-post mb70">
                     <blockquote class="quote">
                    <p class="mb0 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, maiores esse temporibus accusantium quas soluta quis sed rerum. Sapiente, culpa fugit sit est laboriosam odit.</p>
                    <footer>John Doe, Google Inc.</footer>
                </blockquote>
                    <div class="post-content text-center">

                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o"></i> <a href="#">John Doe</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="#">29 June 2017</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-tags"></i> <a href="#">Bootstrap4</a>
                            </li>
                        </ul>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus .</p>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                     <a href="#" class="btn btn-outline-secondary">Read More</a>
                    </div>
                </article><!--article-->
                <article class="article-post mb70">
              <div class="embed-responsive embed-responsive-21by9 mb40">
                       <iframe src="https://www.youtube.com/embed/htPYk6QxacQ?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="post-content text-center">
                        <a href="#"><h2 class="post-title">Lorem ipsum dolor sit amet</h2></a>
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o"></i> <a href="#">John Doe</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="#">29 June 2017</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-tags"></i> <a href="#">Bootstrap4</a>
                            </li>
                        </ul>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus .</p>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                      <a href="#" class="btn btn-outline-secondary">Read More</a>
                    </div>
                </article><!--article-->
                <article class="article-post mb70">
                     <!-- Carousel -->
        <div class="carousel-image owl-carousel owl-theme mb40">
            <div class="item">
                <%= image_tag "entry2.jpg", alt: "", class: "img-fluid" %>
            </div>
            <div class="item">
                <%= image_tag "entry3.jpg", alt: "", class: "img-fluid" %>
            </div>
        </div> <!-- /Carousel -->
                    <div class="post-content text-center">
                        <a href="#"><h2 class="post-title">Lorem ipsum dolor sit amet</h2></a>
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o"></i> <a href="#">John Doe</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="#">29 June 2017</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-tags"></i> <a href="#">Bootstrap4</a>
                            </li>
                        </ul>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus .</p>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                     <a href="#" class="btn btn-outline-secondary">Read More</a>
                    </div>
                </article><!--article-->
                <nav aria-label="Page navigation example" class="mb70">
                    <ul class="pagination pagination justify-content-end">
                        <li class="page-item "><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%= render 'shared/footer' %>
    <!-- /footer -->

    <!-- Footer bottom -->
    <%= render 'shared/footer_bottom' %>
    <!-- /footer bottom -->

    <!--back to top-->
    <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
