    <%# Preloader %>
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div>
  <%#/preloader%>

    <%# Site Overlay %>
    <div class="site-overlay"></div>

    <%# Navbar %>
    <%= render 'shared/navbar' %>
    <%# /navbar %>

    <div class="page-titles-img title-space-lg bg-parallax parallax-overlay mb40" data-jarallax='{"speed": 0.2}' style='background-image: url(<%= asset_path "bg14.jpg" %>)'>
        <div class="container">
            <div class="row">
                <div class=" col-md-8 ml-auto mr-auto">
                    <h1 class='text-uppercase'><%= @post.title %></h1>
                </div>
            </div>
        </div>
    </div>
    <%#page title end%>

    <div class="container mb30">
        <%# Article post %>
        <%= render 'article_post' %>
        <%#article post%>
        <% if logged_in? %>
            <% if current_user.admin? && !current_user?(@user) %>
                <%= link_to "Modifier", edit_post_path, class: "col-md-12 post-masonry mb40" %><%= link_to "Supprimer", @post, method: :delete, data: { confirm: "Vous êtes sûr?" } %>
            <% end %>
        <% end %>
    </div>

    <%# Footer %>
    <%= render 'shared/footer' %>
    <%#/footer%>

    <%# Footer bottom %>
    <%= render 'shared/footer_bottom' %>
    <%#/footer bottom%>

    <%#back to top%>
    <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
